.team-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--blue-200);
  border-radius: 5px;
  background-color: var(--yellow-50);
}

.title {
  margin: 26px;
}

.conference {
  height: 50px;
  line-height: 50px !important;
  background-color: var(--blue-500);
  color: var(--primary-color-text);
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  margin: 0;
}

h3 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.dark .title {
  color: var(--primary-color-text);
}

.dark .conference {
  background-color: var(--blue-1100)
}