.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardTeam {
    text-align: center;
    margin-top: 20px;
    border: 1px solid var(--bluegray-400);
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--blue-1000);
    color: var(--primary-color-text);
}

.players {
    display: grid;
    width: 76%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.CardTeam p{
    color: var(--yellow-100);
}