.teamsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    border: 2px solid #032f4f;
}

.division {
    font-size: 1.2em;
    margin: 10px;

}

.division-title {
    display: grid;
    font-weight: bold;
    line-height: 30px;
    background-color: #032f4f;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.teams-list {
    display: grid;
    gap: 10px;
}

.linkTeam {
    margin: 30px 0;
    padding: 2px;
    border: 1px solid #9ecbeb;
    border-radius: 5%;
}

.nameTeam {
    color: #032f4f;
}

p {
    color: #222;
}

.dark .linkTeam {
    background-color: #0f0f0f;
}

.dark p {
   color: #2f2f36;
}

.dark .nameTeam {
    color: #4e6072;
}