.teamsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    border: 2px solid var(--blue-1000);
}

.division {
    font-size: 1.2em;
    margin: 10px;
}

.division-title {
    display: grid;
    font-weight: bold;
    line-height: 30px;
    background-color: var(--blue-1000);
    color: var(--primary-color-text);
    margin: 0;
    font-weight: 500;
}

.linkTeam {
    margin: 40px;
    padding: 10px;
    border: 1px solid var(--blue-300);
    border-radius: 5%;
}

.nameTeam {
    color: var(--blue-1000);
}

p {
    color: var(--dark-0);
}

.dark .linkTeam {
    background-color: #0f0f0f;
}

.dark p {
   color: var(--bluegray-400);
}

.dark .nameTeam {
    color: var(--blue-800);
}